@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?57532587');
  src: url('../font/fontello.eot?57532587#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?57532587') format('woff2'),
       url('../font/fontello.woff?57532587') format('woff'),
       url('../font/fontello.ttf?57532587') format('truetype'),
       url('../font/fontello.svg?57532587#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
